doctype html
html
  head
    title= 'Blog - My online Playground'
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="fragment", content="!")
    meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="ignore", content="Jose is the man. #test2#")

    meta(name="description", content="Web Dev, Seminole living in Silicon Valley. Checkout my blog!")
    //- FB Tags
    meta(name="og:description", content="Web Dev, Seminole living in Silicon Valley. Checkout my blog!")
    meta(name="og:title", content="Blog - My online Playground")
    meta(name="og:type", content="article")
    meta(name="og:url", content="http://www.josebrowne.com")
    link(rel="icon", type="image/x-icon", href="/favicon.ico")
    link(rel="author", href="https://plus.google.com/114077659749744397502")
    link(rel='stylesheet', href='/css/main.css')

    link(rel="apple-touch-icon", href="touch-icon-iphone.png")
    link(rel="apple-touch-icon", sizes="76x76", href="touch-icon-ipad.png")
    link(rel="apple-touch-icon", sizes="120x120", href="touch-icon-iphone-retina.png")
    link(rel="apple-touch-icon", sizes="152x152", href="touch-icon-ipad-retina.png")
    // [if lt IE 9]
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    script(type='text/javascript').
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-44608490-1', 'josebrowne.com');

body(ontouchstart).clear
    .container
        #sidebar.column.animate
            //- Logo Section
            a(href="/")
                .logo.clear

            //- Navigation Menu
            ul.nav.clear
                li.all
                    a(href="/", data-tag="all", data-bypass="true")
                        i.icon-home
                        | All
                li.tips
                    a(href="/tag/tips", data-tag="tips")
                        i.icon-lightbulb
                        | Tips
                li.tutorials
                    a(href="/tag/tutorials", data-tag="tutorials")
                        i.icon-question-sign
                        | Tutorials
                li.personal
                    a(href="/tag/personal", data-tag="personal")
                        i.icon-male
                        | Personal
            //- Recent Comments Secion
            //- h3 Recent Comments
            //- div.comments.small
            //-     p Great tutorial.. really helped me understand this concept
            //-     span.text-right 6 min ago <span>by<span> John Myer

            //- div.comments.small
            //-     p Another pretty much useless comment with small words.
            //-     span.text-right 1 hr ago <span>by<span> Jose Browne

            h3 About me
            p.small Something really inspirational about me should probably be written here. But until i'm inspired this is all you get.
            <a href="https://twitter.com/jBhackin" class="twitter-follow-button" data-show-count="true">Follow @jBhackin</a>
            script(type='text/javascript').
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            footer.clear.text-center &copy; #{moment(Date.now()).format('YYYY')}<br>Powered by Express & MongoDB

        #main.column
            header.clear.animate
                .inner
                    .title.pull-left
                        a(href="#").sidebar-btn
                            i.icon-reorder
                        | Blog
                        span.text
                    //- form.searchForm
                    //-     input(placeholder="Search for it...").search.pull-right  Search input
            //- Content container
            .content.clear.animate
                .posts.clear

    //- Modal Structure
    .md-content.animate
    .md-overlay.animate
    span.md-overlay-x X

    //- BB Template: Post
    script(type="text/template", id="articleTemplate")
        a.title(href!="/open/<%= alias %>", data-alias!="<%= alias %>") <%= title %>
        <%= contentIntro %>
        .footer.clear
            .meta.pull-left
                span
                    i.icon-eye-open
                    <%= views %> visits
                span
                    i.icon-comments
                    a(data-disqus-identifier!="<%= typeof(disqusId) !== 'undefined' ? disqusId : alias %>") 0 Comments
                span
                    i.icon-time
                    <%= created %>
                span
                    i.icon-tags
                    <%= tags %>
            a.btn.pull-right(class!="<%= tags %>", href!="/open/<%= alias %>", data-alias!="<%= alias %>") open

    //- BB Template: End of infinite scroll
    script(type="text/template", id="collectionEnd")
        .endCollection
            h5.sadText This does not have to be the end of us.
            h3.followText Follow Me
            p
                a(href="https://twitter.com/jBhackin"): i.icon-twitter
                a(href="http://www.linkedin.com/in/josebrowne"): i.icon-linkedin
                a(href="https://plus.google.com/114077659749744397502"): i.icon-google-plus
                a(href="https://github.com/digitalmaster"): i.icon-github

    //- BB Template: Post Modal
    script(type="text/template", id="postModalTemplate")
        .info.full(class!="<%= tags %>")
            h1.title <%= title %>
            .meta
                span
                    i.icon-eye-open
                    <%= views %> visits
                span
                    i.icon-comments
                    a(data-disqus-identifier!="<%= typeof(disqusId) !== 'undefined' ? disqusId : alias %>") 0 Comments
                span
                    i.icon-time
                    <%= created %>
                span
                    i.icon-tags
                    <%= tags %>
        .content
            <%= content %>
        #shareme.clear
            a.socialite.twitter-share(href='http://twitter.com/share', data-via="jBhackin", data-text='empty', data-url='empty', rel='nofollow', target='_blank')
                span.vhidden Share on Twitter
            a.socialite.facebook-like(href='#', data-send='false', data-layout='button_count', data-width='60', data-show-faces='false', rel='nofollow', target='_blank')
                span.vhidden Share on Facebook
            a.socialite.googleplus-one(href='#', data-size='medium', data-href='#', rel='nofollow', target='_blank')
                span.vhidden Share on Google+

        hr.full.endRuler(style="visibility: hidden")
        #disqus_thread

    //- Load Scripts
    if config.env == 'development'
        script(src='/components/jquery/jquery.js')
        script(src='/components/underscore/underscore.js')
        script(src='/components/backbone/backbone.js')
        script(src='/components/fastclick/lib/fastclick.js')
        script(src='/components/nprogress/nprogress.js')
        script(src='/components/socialite/socialite.js')
        script(src='/js/namespaces.js')
        script(src='/js/helpers.js')
        script(src='/js/main.js')
        //- script(src='http://localhost:35729/livereload.js')
    else
        script(src='/js/jb2.min.js')

    // initialization script
    script(type='text/javascript').
        var disqus_shortname = "#{config.disqus_shortname}";
        var bootstrapData = !{JSON.stringify(initData)};
        App.init(bootstrapData);
